<% if (locals.other) { %>
	<%- body %>
<% }

else{%>


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StepUp-FootWears</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
     <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
  

	<% if (locals.admin) { %>
	    <%- include('../partials/admin/adminHead.ejs') %>	
	    <%- include('../partials/admin/adminHeader.ejs') %>	
	    <%- include('../partials/admin/adminFooter.ejs') %>
      <%- body %>		  
      <%- include('../partials/admin/adminScript.ejs') %>

		
	<% }else{ %>
	
		<%- include('../partials/user/userHead.ejs') %>
		<%- include('../partials/user/userHeader.ejs') %>
    <%- body %>
	  <%- include('../partials/user/userFooter.ejs') %>
		<% } %>



 
  </body>
</html>


<% } %>


