<style>
  .card-hover-shadow:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
  }

  .custom-control-label::before {
    top: 2px;
    width: 20px;
    height: 20px;
  }

  .custom-control-label::after {
    top: 2px;
    width: 20px;
    height: 20px;
  }

  .custom-control-input:checked~.custom-control-label::before {
    border-color: #007bff;
    background-color: #007bff;
  }

  .custom-control-input:focus~.custom-control-label::before {
    border-color: #007bff;
  }
</style>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
<!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" href="path/to/sweetalert2.min.css">
<link href="https://cdn.jsdelivr.net/npm/fontisto@latest/css/fontisto/fontisto.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">


<div class="">
  <div class="hero-wrap hero-bread" class="" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">

          <h1 class="mb-0 bread">Checkout</h1>
        </div>
      </div>
    </div>
  </div>

</div>

<section>

  <div class="container mt-5">
    <div class="row justify-content-around">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <h5 class="card-title">Your Orders</h5>
              <table class="table table-hover table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Subtotal</th>
                    <th>Quantity</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  <% cartItems.forEach(element=> { %>
                    <tr>
                      <td>
                        <img class="img-fluid rounded" style="width: 50px; height: 50px;"
                          src="/uploads/<%= element.productInfo.images[0] %>" alt="" />
                      </td>
                      <td>
                        <%= element.productInfo.productname %>
                      </td>
                      <td>₹<%= element.currentPrice * element.quantity %>
                      </td>
                      <td>
                        <%= element.quantity %>
                      </td>
                      <td>
                        <%= element.size %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="toggle_info">
              <span><i class="fas fa-ticket-alt"></i><span class="text-muted">Have a coupon?</span>
                <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter
                  your code</a>
              </span>
            </div>
            <div id="coupon" class="collapse">
              <div id="inputForCoupon" class="discount__content <%= locals.couponApplied ? 'hidden' : '' %>">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <div class="input-container">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" id="couponId" placeholder="Enter your coupon code">
                        <button class="btn btn-primary rounded-0" type="button" id="apply-coupon-btn"
                          onclick="applyCoupon()">Apply</button>
                        <!-- <button class="btn btn-secondary rounded-0" type="button" id="remove-coupon-btn"
                          onclick="removeCoupon()">Remove</button> -->
                      </div>
                      <div class="message-container">
                        <p class="text-danger mb-0"><span id="message"></span></p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <section class="ftco-section">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 ftco-animate">
          <form action="#" id="checkout-form" class="billing-form" style="background-color: #fdfbfb; padding: 20px;">
            <div class="d-flex justify-content-end mb-4">
              <a href="/savedAddress"><button type="button" class="btn btn-primary" id="add-address-btn">Change/Add New
                  Address</button></a>
            </div>

            <% if (address.length) { %>

              <h3 class="mb-4 billing-heading">Billing Details</h3>
              <div class="row align-items-end">
                <div class="container" id="address-list">
                  <div class="row">

                    <% for (let i=0; i < address.length; i++) { %>
                      <div class="col-sm-12 col-md-8 offset-md-2">
                        <div class="card mx-auto w-100 card-hover-shadow mb-4" style="max-width: 100% !important;">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-1">
                                <div class="form-check">
                                  <input class="form-check-input" style="z-index: 10;" type="radio" name="address"
                                    id="address<%= i %>" value="<%= address[i]._id %>" <% if (i==0) { %> checked <% } %>
                                    >
                                </div>
                              </div>
                              <div class="col-md-7">
                                <h5 class="card-title mb-1">
                                  <%= `${address[i].firstname} ${address[i].lastname}` %>
                                </h5>
                                <p class="card-text mb-1">
                                  <%= address[i].streetaddress %>
                                </p>
                                <p class="card-text mb-1">
                                  <%= address[i].appartment %>
                                </p>
                                <p class="card-text mb-1">
                                  <%= address[i].state %>
                                </p>
                                <p class="card-text mb-1">
                                  <%= address[i].town %>
                                </p>
                                <p class="card-text mb-0">
                                  <%= address[i].zip %>
                                </p>
                                <p class="card-text mt-1 mb-0">Phone: +91 <%= address[i].mobile %>
                                </p>
                              </div>
                              <!-- <div class="col-md-4 text-md-right">
                              <a href="#" class="btn btn-link btn-lg">Edit</a>
                              <a href="#" class="btn btn-link btn-lg text-danger">Delete</a>
                            </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                  </div>
                </div>
              </div>
              <% } else { %>

                <div class="container">
                  <div class="row justify-content-center mt-5">
                    <div class="col-md-8 text-center">
                      <h1 class="mb-4">No address found</h1>
                      <p class="lead mb-4">Please add a new address to proceed with your order.</p>
                      <a href="/savedAddress" class="btn btn-primary">Add New Address</a>
                    </div>
                  </div>
                </div>
                
                <% } %>

                 
                  <section>



                    <div class="row mt-5 pt-3 d-flex">
                      <div class="col-md-6 d-flex">
                        <div class="cart-detail cart-total bg-light p-3 p-md-4">
                          <h3 class="billing-heading mb-4">Cart Total</h3>
                          <p class="d-flex">
                            <span>Subtotal</span>
                            <% if (total.length) { %>
                              <span>₹<%=total[0].total %></span>

                          </p>
                          <p class="d-flex">
                            <span>Tax</span>
                            <span>₹<%= total[0].totalTax %></span>
                          </p>
                          <p class="d-flex">
                            <span>Discount Coupon</span>
                            <% if (locals.discountAmount) { %>
                              <span id="couponDiscount">₹ <%= locals.discountAmount %></span>
                              <% } else { %>
                                <span id="couponDiscount"></span>
                                <% } %>
                          </p>


                          <hr>
                          <p class="d-flex total-price">
                            <span>Total</span>
                            <% if (locals.discountAmount) { %>
                              <span id="taxWithTotal">₹ <%= total[0].totalWithTax - locals.discountAmount %></span>
                              <span style="color: green; margin-left: 10px;">Coupon Applied</span>
                              <% } else { %>
                                <span id="taxWithTotal">₹ <%= total[0].totalWithTax %></span>
                                <% } %>
                          </p>


                          <% }else{ %>
                            <span id="total">0</span>

                            <% } %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="cart-detail bg-light p-3 p-md-4">
                          <h3 class="billing-heading mb-4">Payment Method</h3>
                          <div class="form-group">
                            <div class="col-md-12">
                              <div class="radio">
                                <label><input type="radio" name="payment-method" value="COD" class="mr-2"> COD</label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                              <div class="radio">
                                <label><input type="radio" name="payment-method" value="RazorPay" class="mr-2">
                                  RazorPay</label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                              <div class="radio">
                                <label><input type="radio" name="payment-method" value="PayPal" class="mr-2">
                                  PayPal</label>
                              </div>
                            </div>
                          </div>


                          <div class="form-group">
                            <div class="col-md-12">
                              <div class="radio">
                                <!-- <label><input type="radio" name="optradio" class="mr-2"> Paypal</label> -->
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-12">
                              <div class="checkbox">
                                <label><input type="checkbox" id="terms-checkbox" value="" class="mr-2"> I have read and
                                  accept
                                  the terms and conditions</label>
                              </div>
                              <div id="terms-message" class="text-danger mt-2" style="display:none;">Please accept the
                                terms
                                and
                                conditions to proceed.</div>
                            </div>
                          </div>
                          <button id="place-order-button" class="btn btn-primary py-3 px-4" type="submit">Place an
                            order</button>

                        </div>
                      </div>
                    </div> <!-- .col-md-8 -->
        </div>
      </div>
      </form><!-- END -->
  </section> <!-- .section -->

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Include jQuery (if not already included) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include SweetAlert JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="path/to/sweetalert2.min.js"></script>

  <script>


    const couponInput = document.querySelector('#coupon-code');
    const applyCouponBtn = document.querySelector('#apply-coupon-btn');
    const couponMessage = document.querySelector('#coupon-message');

    applyCouponBtn.addEventListener('click', () => {
      const couponCode = couponInput.value.trim();
      if (couponCode) {
        // Send coupon code to server and update the UI accordingly
        // ...
        // If coupon is valid and applied successfully, show success message and update UI
        couponMessage.innerHTML = `<div class="alert alert-success" role="alert">Coupon "${couponCode}" applied successfully!</div>`;
      } else {
        couponMessage.innerHTML = `<div class="alert alert-danger" role="alert">Please enter a valid coupon code!</div>`;
      }
    });



    const placeOrderButton = document.getElementById("place-order-button");
    const termsCheckbox = document.getElementById("terms-checkbox");
    const termsMessage = document.getElementById("terms-message");

    placeOrderButton.addEventListener("click", function (event) {
      if (!termsCheckbox.checked) {
        event.preventDefault();
        termsMessage.style.display = "block";
        termsMessage.scrollIntoView({ behavior: "smooth", block: "center" });
      } else {
        termsMessage.style.display = "none";
      }

      const paymentMethods = document.getElementsByName("payment-method");
      let paymentSelected = false;
      for (let i = 0; i < paymentMethods.length; i++) {
        if (paymentMethods[i].checked) {
          paymentSelected = true;
          break;
        }
      }

      if (!paymentSelected) {
        event.preventDefault();
        swal({
          title: "Payment method not selected",
          text: "Please select a payment method to proceed.",
          icon: "error",
          button: "OK",
        });
      }
    })

    $("#checkout-form").submit((e) => {
      e.preventDefault();
      $.ajax({
        url: '/address',
        method: 'post',
        data: $('#checkout-form').serialize(),
        success: (response) => {
          alert(response);
          console.log("alsdfljalsdfsadfkljsadfjlk")
          if (response.codSuccess) {
            console.log('Redirecting to /orderPlaced');
            location.href = "/orderPlaced";

          } else if (response.payment) {
            // hideLoader()

            console.log(response.payment, 'payment payapal');
            window.location.href = response.payment.links[1].href

          } else {
            // hideLoader()
            razorpayPayment(response)
          }
        }
      });
    });
    function razorpayPayment(order) {

      var options = {

        "key": "rzp_test_g7gcvZ5q7qxnK0", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Step Up",
        "description": "Test Transaction",
        "image": "/images/Step.png",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          //  alert(response.razorpay_payment_id);
          //  alert(response.razorpay_order_id);
          //  alert(response.razorpay_signature)
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9000090000"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#243247"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response) {
        //  alert(response.error.code);
        //  alert(response.error.description);
        //  alert(response.error.source);
        //  alert(response.error.step);
        //  alert(response.error.reason);
        //  alert(response.error.metadata.order_id);
        //  alert(response.error.metadata.payment_id);
        verifyPayment(response, order)
      });

      rzp1.open();

    }

    function verifyPayment(payment, order) {
      console.log('inside payment')
      // showLoader()
      $.ajax({
        url: '/verify-payment',
        data: {
          payment,
          order
        },
        method: 'post',
        success: (response) => {
          if (response.status) {
            alert('payment success')
            // hideLoader()
            location.href = '/orderPlaced'
          } else {
            // alert("payment failed")
            // hideLoader()
            location.href = '/payment-failed'
          }
        }
      })
    }






    function applyCoupon() {

      let couponInput = document.getElementById('couponId');
      let message = document.getElementById('message');

      couponInput.addEventListener('input', function () {
        if (couponInput.value.trim().length > 0) {
          message.innerHTML = '';
        }
      });


      let couponId = document.getElementById('couponId').value;
      let total = document.getElementById('taxWithTotal').innerHTML;

      console.log(total, '....')
      console.log(couponId, 'iddddddd')


      if (couponId.trim().length === 0) {
        document.getElementById("message").innerHTML = "Enter coupon code";

      } else {

        $.ajax({
          url: '/apply-coupon',
          data: {
            couponId: couponId,
            total: total

          },
          method: 'post',
          success: (response) => {

            console.log(response)
            if (response.success == false) {
              document.getElementById("message").innerHTML = response.message;
              alertify.set('notifier', 'delay', 5);
              alertify.set('notifier', 'position', 'top-right');
              alertify.error('Invalid coupon code');

              location.reload();


              //  document.getElementById("taxWithTotal").innerHTML = total;

            } else if (response.success == true) {
              console.log(response.discountAmount);
              console.log(response.cartTotal, '/////////');
              console.log(response.cartTotal - response.discountAmount, '????????')

              // Update the content of the #couponDiscount element with the discounted amount
              if (response.discountAmount) {
                document.getElementById("couponDiscount").innerHTML = `₹${response.discountAmount}`;
                document.getElementById("taxWithTotal").innerHTML = `₹${response.cartTotal - response.discountAmount}`;
              } else {
                document.getElementById("couponDiscount").innerHTML = "";
              }

              alertify.set('notifier', 'delay', 2);
              alertify.set('notifier', 'position', 'top-right');
              alertify.success('Coupon applied');
            }

          }
        });

      }


    }


  </script>