<style>
	.card {
		border-radius: 10px;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
		transition: transform 0.2s ease-in-out;
	}

	.card:hover {
		transform: translateY(-10px);
	}

	.card-img-top {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		object-fit: cover;
		height: 200px;
	}

	.card-body {
		padding: 1.5rem;
		text-align: center;
	}

	.card-title {
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.card-text {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.card-link {
		font-size: 1.2rem;
		font-weight: bold;
	}
	.green {
		 color: rgb(16, 153, 16);
		font-weight: bold;
		  font-size: small;
	}

</style>

<section class="ftco-section bg-light">
	<div class="container mt-5">
		<div class="row">
			<% products.forEach((item)=>{ %>
			<div class="col-md-3 p-3">
				<div class="card">
					<img class="card-img-top" src="/uploads/<%= item.images[1] %>" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title"><%= item.company %></h5>
						<p class="card-text"><%= item.productname%></p>
						<h5 class="card-text"><%= item.type %></h5>
						<h2 class="card-text green"><%= item.deal%></h2>
						<h1 class="card-text" style="font-weight: bold; font-size: 1.2em;">₹<%= item.price%></h1>
						<h2 class="card-text">size <%= item.size%></h2>
						<a href="/singleProduct/<%=item._id %>" class="card-link btn btn-primary">PURCHASE</a>
					</div>
				</div>
			</div>
			<%}) %>	
		</div>
	</div>    	
</section>